body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Меню навигации */

.nav-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.nav-list a,
.cart a {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-list a:hover,
.nav-list a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.nav-list a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* !ВНИМАННИЕ Добавить псевдоэлемент для нахождения на странице */

/* Общие стили кнопок */

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #fb565a;
  border: 0;
}

button.button,
a.button {
  color: #ffffff;
}

/* Слайдер */

.slider-inner {
  margin:0;
  padding: 0;

  list-style: none;
}

.slide-caption {
  margin: 0;
  padding: 0;

  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-description {
  margin: 0;
  padding: 0;
}

/* Услуги компании */

.service-catalog-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.service-catalog-item-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.service-catalog-item-description {
  margin: 0;
  padding: 0;
}

/* Информация о комании */

.company-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.company-description {
  margin: 0;
  padding: 0;
}

.company-features-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.company-features-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.company-statistics-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.company-statistics-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.company-statistics-percentages {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.company-statistics-property {
  margin: 0;
  padding: 0;

  line-height: 18px;
}

/* Портфолио на главной */

.company-portfolio-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Глобальные стили старницы каталога */

.catalog-main-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

/* Фильтр товаров в катологе */

.filters-form {
  line-height: 20px;
}

.filter-item {
  margin:0;
  padding: 0;

  border: 0;
}

.filter-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-caption-price {
  letter-spacing: 0.05px;
}

.price-filter-counter {
  line-height: 22px;
}

.price-filter-counter input::placeholder {
  font: inherit;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.filters-form .button {
  color: #000000;

  background-color: #eeeeee;
}

/* Сортировка в каталоге */

.sorting-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.sorting-list-type,
.sorting-list-direction {
  margin:0;
  padding: 0;

  list-style: none;
}

.sorting-list-type a {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

/* .sorting-list-item-current */

/* Каталог и карточки товаров */

.main-catalog-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.main-catalog-item-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.main-catalog-item-description {
  margin: 0;
  padding: 0;

  color: #666666;
  line-height: 18px;
}

/* Пагинатор */

.pagination-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.pagination-list a {
  color: #000000;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

/* Карта и адрес компании */

.contacts-caption {
  margin: 0;
  padding: 0;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-description {
  margin: 0;
  padding: 0;

  color: #666666;
  line-height: 18px;
}

.contacts a.link-tel {
  color: #666666;
}

/* Подвал */

.social-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.social-promo-caption {
  margin: 0;
  padding: 0;

  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.social-promo-description {
  margin: 0;
  padding: 0;

  color: #444444;
  line-height: 22px;
}

/* Модальное окно */

.writeus-caption {
  margin: 0;
  padding: 0;

  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.writeus-form {
  margin: 0;
  padding: 0;
}

.writeus-form .writeus-name {
  color: #000000;
  font-weight: 700;
  line-height: 18px;
}

/* Форма модального окна */

.writeus-form input {
  font: inherit;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.writeus-form input::placeholder {
  font: inherit;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}


/* Дополнительные настройки */

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


:-ms-fullscreen, :root label.visually-hidden {
  display:none; /* IE11 */
}
