body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Глобальные стили страницы */

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Глобальные стили шапки */

.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -2px;

  background-color: #eeeeee;
}

/* Меню навигации */

.site-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 0;
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 640px;
  margin:0;
  margin-left: 202px;
  margin-bottom: 9px;
  padding: 0;

  list-style: none;
}

.nav-list-element {
  margin-right: 45px;
  margin-bottom: -4px;
  padding-bottom: 4px;
}

.nav-list-element:nth-child(2n) {
  margin-right: 48px;
}

.nav-list-element:last-child {
  margin-right: 0;
}

.nav-list-element-current {
  margin-bottom: -6px;
  border-bottom: 2px solid #fb565a;
}

.nav-list a,
.cart a {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-list a:hover,
.nav-list a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.nav-list a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
  margin-top: 67px;
  margin-left: 1px;
}

.site-navigation-no-main .main-header-logo:hover,
.site-navigation-no-main .main-header-logo:focus {
  opacity: 0.8;
}

.site-navigation-no-main .main-header-logo:active {
  opacity: 0.3;
}

.cart {
  position: relative;

  align-self: flex-end;
  width: 70px;
  margin-left: 82px;
  margin-right: 0;
  margin-bottom: 9px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -40px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* !ВНИМАННИЕ Добавить псевдоэлемент для нахождения на странице */

/* Общие стили кнопок */

.button {
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

button.button,
a.button {
  color: #ffffff;
}

button.button:active,
a.button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Слайдер */

.main-slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.slide-caption {
  max-width: 520px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-description {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label{
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding-top: 78px;
  padding-bottom: 80px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#wrapper-btn-1:checked ~ .slider-list #slider-item-1,
#wrapper-btn-2:checked ~ .slider-list #slider-item-2,
#wrapper-btn-3:checked ~ .slider-list #slider-item-3 {
  display: block;
}

#wrapper-btn-1:checked ~ .slider-controls label[for="wrapper-btn-1"]::before,
#wrapper-btn-2:checked ~ .slider-controls label[for="wrapper-btn-2"]::before,
#wrapper-btn-3:checked ~ .slider-controls label[for="wrapper-btn-3"]::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-button {
  width: 240px;
}

/*  */

/* Услуги компании */

.service-catalog {
  margin-top: 80px;

  border-bottom: 2px solid #eeeeee;
}

.service-catalog-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin:0;
  padding: 0;

  list-style: none;
}

.service-catalog-item {
  width: 300px;
  margin-right: 100px;
}

.service-catalog-item:nth-child(3n) {
  margin-right: 0;
}

.service-catalog-item-caption {
  margin:0;
  margin-top: 25px;
  padding: 0;

  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.service-catalog-item-description {
  width: 245px;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.service-catalog-button {
  width: 160px;
  margin-top: 32px;
  margin-bottom: 80px;
}

.service-catalog-item:nth-child(2n) .service-catalog-button {
  background-color: #00ca74;
}

.service-catalog-item:nth-child(2n) .service-catalog-button:hover {
  background-color: #00bc6c;
}

.service-catalog-item:nth-child(2n) .service-catalog-button:active {
  background-color: #00aa62;
}

.service-catalog-item:nth-child(3n) .service-catalog-button {
  background-color: #efc84a;
}

.service-catalog-item:nth-child(3n) .service-catalog-button:hover {
  background-color: #eab534;
}

.service-catalog-item:nth-child(3n) .service-catalog-button:active {
  background-color: #e5a722;
}


/* Информация о комании */

.company-information {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 74px;

  border-bottom: 2px solid #eeeeee;
}

.company-caption {
  width: 650px;
  margin:0;
  padding: 0;

  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.company-description {
  width: 616px;
  margin: 0;
  margin-top: 33px;
  padding: 0;
}

.company-features-list {
  margin:0;
  margin-bottom: 73px;
  padding: 0;

  list-style: none;
}

.company-features-caption {
  margin: 0;
  margin-top: 39px;
  padding: 0;

  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.company-features-item {
  position: relative;

  margin-top: 24px;
  margin-left: 36px;
}

.company-features-item::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 11px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.company-information-logo {
  margin-left: 24px;
  margin-top: -34px;
}

.company-statistics-caption {
  margin:0;
  margin-top: 36px;
  margin-left: 40px;
  padding: 0;

  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.company-statistics-list {
  display: table;
  margin: 0;
  margin-top: 42px;
  margin-left: 25px;
  padding: 0;

  list-style: none;
}

.company-statistics-column {
  display: table-column;
}

.company-statistics-column-1 {
  width: 89px;
}

.company-statistics-column-2 {
  width: 95px;
}

.company-statistics-column-3 {
  width: 105px;
}

.company-statistics-percentages {
  display: table-row;

  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.company-statistics-item-per {
  position: absolute;
  top: 14px;
  left: 75px;

  font-size: 27px;
}

.company-statistics-item:nth-child(3) .company-statistics-item-per {
  left: 50px;
}

.company-statistics-property {
  display: table-row;

  margin: 0;
  padding: 0;

  line-height: 18px;
}

.company-statistics-item {
  position: relative;

  display: table-cell;

  padding-right: 25px;
  padding-bottom: 18px;
}

.company-statistics-item:nth-of-type(3n) {
  padding-right: 0;
}

/* Портфолио на главной */

.company-portfolio {
  margin-top: 45px;
  margin-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.company-portfolio-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  padding-left: 30px;

  list-style: none;
}

.company-portfolio-item {
  position: relative;
}

.company-portfolio-item::after {
  content: "";

  position: absolute;
  top: 17px;
  right: 0;

  display: block;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.company-portfolio-item img {
  opacity: 0.2;
}

.company-portfolio-item img:hover {
  opacity: 1;
}

.company-portfolio-item img:active {
  opacity: 0.1;
}

.portfolio-link-academy {
  padding-top: 17px;
  padding-right: 51px;
}

.portfolio-link-barbershop {
  padding-left: 45px;
  padding-right: 46px;
}

.portfolio-link-pink {
  padding-top: 20px;
  padding-left: 57px;
  padding-right: 58px;
}

.portfolio-link-mishka {
  padding-top: 7px;
  padding-left: 63px;
}

/* Глобальные стили старницы каталога */

.catalog-main-caption {
  margin:0;
  margin-top: 77px;
  margin-left: 217px;
  margin-bottom: 108px;
  padding: 0;

  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.main-content-catalog {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.main-content-catalog-right {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-left: 139px;
}

/* Фильтр товаров в катологе */

.filters-form {
  width: 260px;
  padding: 0;
  border: none;

  line-height: 20px;
}

.filter-item {
  display: flex;
  flex-flow: column nowrap;
  margin:0;
  margin-top: 55px;
  padding: 0;

  border: none;
}

.filter-item:nth-of-type(3) {
  margin-top: 25px;
}

.filter-caption {
  margin:0;
  margin-bottom: 16px;
  padding: 0;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.price-filter-inner {
  width: 260px;
  margin-top: 48px;
}

.filter-caption-price {
  margin-bottom: 0;

  letter-spacing: 0.05px;
}

.price-filter-range-filter {
  position: relative;

  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.filter-line {
  height: 2px;

  background: #d7dcde;
}

.filter-active-line {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.filter-ring {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  border: 8px solid #ffffff;

  cursor: pointer;
}

.ring-min {
  left: 18px;
}

.ring-max {
  left: 160px;
}

.price-filter-price-controls {
  font-size: 0;
}

.price-filter-price-controls label{
  display: inline-block;
  width: 50%;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-filter-price-controls input {
  box-sizing: content-box;
  width: 60px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 3px;
  padding-bottom: 10px;
  margin-left: 11px;

  font-family: inherit;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1
}

.price-filter-price-controls .max-price {
  text-align: right;
}

.price-filter-price-controls input::placeholder {
  font: inherit;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.filter-toggle+label,
.filter-checkbox+label {
  position: relative;

  padding-left: 36px;
  padding-bottom: 20px;
}

.filter-toggle+label::before,
.filter-toggle:checked+label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: 0;

  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-checkbox+label::before,
.filter-checkbox:checked+label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: 0;

  width: 27px;
  height: 23px;

  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-toggle+label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-toggle:checked+label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox+label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-toggle+label:hover::before,
.filter-toggle:checked+label:hover::before,
.filter-checkbox+label:hover::before,
.filter-checkbox:checked+label:hover::before {
  opacity: 1;
}

.filter-toggle:disabled+label::before,
.filter-toggle:disabled+label:hover::before,
.filter-checkbox:disabled+label::before,
.filter-checkbox:disabled+label:hover::before {
  opacity: 0.1;
}

.filters-form .button {
  width: 260px;
  margin-top: 28px;

  color: #000000;

  background-color: #eeeeee;
}

/* Сортировка в каталоге */

.sorting-menu {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 58px;
}

.sorting-list-type,
.sorting-list-direction {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.sorting-caption {
  margin:0;
  margin-right: 25px;
  padding: 0;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;

}

.sorting-list-type,
.sorting-list-direction {
  margin:0;
  padding: 0;

  list-style: none;
}

.sorting-list-type a {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list-type {
  width: 520px;
}

.sorting-list-item {
  margin-top: -2px;
  padding-left: 26px;
  padding-right: 0;

  opacity: 0.2;
}

.sorting-list-item:hover,
.sorting-list-leas:hover,
.sorting-list-most:hover {
  opacity: 0.6;
}

.sorting-list-item:last-child {
  padding-right: 7px;
}

.sorting-list-direction {
  width: 60px;
  padding-top: 4px;
  padding-left: 22px;
}

.sorting-list-least,
.sorting-list-most {
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.2;
}

.sorting-list-most {
  padding-left: 18px;

  transform: rotate(180deg);
}

.sorting-list-item-current,
.sorting-list-item:active,
.sorting-list-least:active,
.sorting-list-most:active {
  opacity: 1;
}

/* Каталог и карточки товаров */

.main-catalog-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  margin:0;
  margin-top: 93px;
  padding: 0;

  list-style: none;
}

.main-catalog-item {
  position: relative;

  width: 358px;
  margin-right: 38px;

  border: 1px solid rgba(0, 1, 1, 0.1);
}

a.main-catalog-link {
  display: block;
  width: 360px;
  min-height: 576px;
}

.main-catalog-item:nth-child(2n) {
  margin-right: 0;
}

.main-catalog-item:nth-child(n + 3) {
  margin-top: 73px;
}

.main-catalog-item::before {
  content: "";

  position: absolute;
  top: -40px;
  left: 0;

  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.12;
}

.main-catalog-item-info {
  display: none;
}

.main-catalog-item:hover,
.main-catalog-item:active {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  border: 1px solid rgba(77, 77, 77, 0.1);
}

.main-catalog-item:hover .main-catalog-item-info,
.main-catalog-item:active .main-catalog-item-info {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  box-sizing: border-box;
  width: 360px;
  min-height: 231px;
  padding-top: 27px;

  background-color: #eeeeee;
}

.main-catalog-item:hover::before ,
.main-catalog-item:active::before {
  width: 358px;
  height: 38px;

  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  border: 1px solid rgba(77, 77, 77, 0.1);

  opacity: 1;
}

.main-catalog-item-caption {
  margin:0;
  padding: 0;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.main-catalog-item-description {
  width: 235px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 0;

  color: #666666;
  line-height: 18px;
  text-align: center;
}

.main-catalog-button {
  margin: 0 auto;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 43px;
}

/* Пагинатор */

.pagination-list {
  display: flex;
  flex-flow: row wrap;
  margin: 60px 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
  padding: 13px 21px;

  background-color: #eeeeee;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current {
  padding: 10px 18px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item-enter,
.pagination-item-back {
  width: 222px;
  text-align: center;
}

.pagination-list a {
  color: #000000;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

/* Карта и адрес компании */

.company-contacts {
  width: 100%;
  height: 416px;
  margin: 0 auto;

  background-color: #e9e1c2;
  background-image: url("../img/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/* .company-contacts iframe {
  z-index: 20;

  width: 100%;
  height: 430px;
  border: 0;
} */

.main-map-inner {
  position: relative;

  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts {
  position: absolute;
  top: 54px;
  left: 20px;

  box-sizing: border-box;
  width: 319px;
  min-height: 305px;
  padding-top: 49px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;

  background-color: #ffffff;
}

.contacts-caption {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-description {
  width: 202px;
  margin: 0;
  margin-top: 18px;
  margin-left: 2px;
  padding: 0;

  color: #666666;
  line-height: 18px;
}

.contacts a.link-tel {
  color: #666666;
}

.company-contacts .button {
  margin-top: 37px;
}

/* Подвал */

.main-footer .container{
  display: flex;
  flex-flow: row nowrap;
  margin-top: 70px;
  min-height: 150px;
}

.social-list {
  display: flex;
  flex-flow: row wrap;
  width: 360px;
  margin: 0;
  margin-left: 1px;
  padding: 0;

  list-style: none;
}

.social-item {
  position: relative;

  width: 78px;
  height: 78px;
  margin-right: 13px;

  background-color: #e1e1e1;
  border-radius: 50%;
  border: none;
}

.social-item::before {
  content: "";

  position: absolute;

  background-repeat: no-repeat;
}

.vk.social-item::before {
  top: 32px;
  left: 26px;

  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.svg");
  background-position: bottom;
}

.fb.social-item::before {
  top: 28px;
  left: 33px;

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
}

.insta.social-item::before {
  top: 29px;
  left: 28px;

  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.svg");
}

.social-item:hover {
  background-color: #e74246;
}

.social-item:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-item:active::before {
  opacity: 0.3;
}

.social-list:last-child {
  margin-right: 0;
}

.social-promo-caption {
  margin: 0;
  margin-top: 6px;
  margin-left: 39px;
  padding: 0;

  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.social-promo-description {
  margin: 0;
  margin-top: 10px;
  margin-left: 40px;
  padding: 0;

  color: #444444;
  line-height: 22px;
}

/* Модальное окно */

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(-200%);
  }

  70% {
    transform: translateX(-50%) translateY(-30%);
  }

  90% {
    transform: translateX(-50%) translateY(-25%);
  }

  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%) translateY(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-40%) translateY(-50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-60%) translateY(-50%);
  }
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  display: none;

  width: 760px;
  min-height: 500px;
  margin: 0 auto;
  padding-top: 65px;
  padding-left: 100px;
  padding-right: 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);

  transform: translateX(-50%) translateY(-50%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: block;
}

.modal-window.modal-show {
  animation: bounce 0.6s;
}

.modal-window.modal-error {
  animation: shake 0.6s;
}

.writeus-caption {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 6px;
  padding: 0;

  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-color: inherit;
  background-image: url("../img/close-cross.svg");
  border: 0;
  opacity: 0.3;

  cursor: pointer;
}

.writeus-form {
  display: flex;
  flex-flow: row wrap;

  margin: 0;
  padding: 0;
}

.writeus-form-item {
  display: flex;
  flex-flow: column wrap;
}

.writeus-form-item:nth-child(2) {
  margin-left: 40px;
}

.writeus-form label {
  top: 0;
  left: 0;

  margin-bottom: 9px;
  padding-top: 34px;

  color: #000000;
  font-weight: 700;
  line-height: 18px;
}

.writeus-form .button {
  width: 260px;
  margin-top: 47px;
  margin-bottom: 85px;
}

/* Форма модального окна */

.writeus-form input {
  box-sizing: border-box;
  width: 360px;
  min-height: 50px;
  padding-top: 13px;
  padding-left: 13px;
  padding-bottom: 13px;
}

.writeus-form textarea {
  box-sizing: border-box;
  width: 760px;
  min-height: 118px;
  padding-top: 11px;
  padding-left: 13px;
}

.writeus-form input,
.writeus-form textarea {
    font: inherit;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;

    border: 2px solid #d7dcde;
}

.writeus-form input::placeholder,
.writeus-form textarea::placeholder {
  font: inherit;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  opacity: 0.5;
}

.writeus-form input:hover,
.writeus-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.writeus-form input:focus,
.writeus-form textarea:focus,
.writeus-form input:active,
.writeus-form textarea:active {
  border: 2px solid #000000;
}

.writeus-form input:invalid,
.writeus-form textarea:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}


/* Дополнительные настройки */

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


:-ms-fullscreen, :root label.visually-hidden {
  display:none; /* IE11 */
}
